*.gem
*.rbc
~*
.~*
.bundle
.config
.idea
.idea/*
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
journal/images/icons/*
journal/MCICOM.xml
cloudforms/database_backup/*

# YARD artifacts
.yardoc
_yardoc
doc/

# Emacs temporary files
*#
.#*
